<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>Kinderdom - Мы и дети</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Мы помогаем детям, которые оказались в сложных жизненных ситуациях. Мы это делаем потому что нам не всё равно." />
        <meta name="keywords" content="" />
        <meta charset="utf-8" />

        <!-- Favicon -->
        <link rel="apple-touch-icon" sizes="57x57" href="/static/images/favico/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="/static/images/favico/apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="/static/images/favico/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="/static/images/favico/apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="/static/images/favico/apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="/static/images/favico/apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="/static/images/favico/apple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="/static/images/favico/apple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="/static/images/favico/apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192"  href="/static/images/favico/android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/static/images/favico/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="/static/images/favico/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/static/images/favico/favicon-16x16.png">
        <link rel="manifest" href="/static/images/favico/manifest.json">
        <meta name="msapplication-TileColor" content="#000000">
        <meta name="msapplication-TileImage" content="/static/images/favico/ms-icon-144x144.png">
        <meta name="theme-color" content="#000000">

        <!-- Styles -->
        <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css" />
        <link rel="stylesheet" href="/static/css/icons.css">
        <link rel="stylesheet" type="text/css" href="/static/css/style.css" />
        <link rel="stylesheet" type="text/css" href="/static/css/responsive.css" />
        <link rel="stylesheet" type="text/css" href="/static/css/color.css" />
        <link rel="stylesheet" type="text/css" href="/static/css/custom.css" />
    </head>
    <body>
        <header class="transparent">
            <div class="row align-items-center">
                <div class="col-3">
                    <div class="logo">
                        <a href="/" title=""><img src="/static/images/logo.png" alt="Kinderdom" /></a>
                    </div>
                </div>
                <div class="col-6">
                    <nav>
                        <ul>
                            <li><a href="/" title="">Главная</a></li>
                            <li><a href="/events" title="">События</a></li>
                            <li><a href="/causes" title="">Цели</a></li>
                            <li><a href="/profiles" title="">Анкеты</a></li>
                            <li><a href="/reports" title="">Отчёты</a></li>
                            <li><a href="/about" title="">О фонде</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="col-3">
                    <div class="lang_txt">
                        <!-- <a href="/" title=""><img src="/static/images/uk.png" alt="ENG" /></a> -->
                        <a href="/"><b>EN</b></a>
                    </div>

                    <div class="social-btns">
                        <a class="facebook" target="_blank" href="https://www.facebook.com/kinderdom777" title=""><i class="fa fa-facebook"></i></a>
                        <a class="instagram" target="_blank" href="https://www.instagram.com/bf_mi_i_deti" title=""><i class="fa fa-instagram"></i></a>
                        <a class="pinterest" target="_blank" href="https://www.youtube.com/channel/UCJZFYjS5stQIGQQQdmACEcg" title=""><i class="fa fa-youtube-play"></i></a>
                    </div>
                </div>
            </div>
        </header><!-- Header -->

        <div class="responsive-header">
            <div class="responsive-menubar">
                <div class="logo"><a href="/" title=""><img src="/static/images/logo3.png" alt="" /></a></div>
                <a class="responsive-menu-btn" href="#" title=""><i class="ion-navicon"></i></a>
            </div><!-- Responsive Menubar -->

            <div class="sideheader">
                <a class="menu-btn close" href="javascript:void(0)" title=""><i class="icon-cancel"></i></a>
                <div class="sidemenu scrollbar">
                    <ul>
                        <li><a href="/" title="">Главная</a></li>
                        <li><a href="/events" title="">События</a></li>
                        <li><a href="/causes" title="">Цели</a></li>
                        <li><a href="/profiles" title="">Анкеты</a></li>
                        <li><a href="/reports" title="">Отчёты</a></li>
                        <li><a href="/about" title="">О фонде</a></li>
                        <li class="lang_mobi">
                            <!-- <a href="/" title=""><img src="static/images/uk.png" alt="ENG" /></a> -->
                            <a href="/"><b>EN</b></a>
                        </li>
                    </ul>
                </div>
            </div><!-- Sideheader -->
        </div><!-- Responsive Header -->

        {% block content %}{% endblock content %}

        <footer>
            <div class="block">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4 col-md-6">
                            <div class="widget">
                                <div class="about-widget">
                                    <div class="logo"><a href="/" title=""><img src="/static/images/logo2.png" alt="" /></a></div>
                                    <p>Права на фото- и иные материалы принадлежат авторам. Любое размещение материалов на сторонних ресурсах необходимо согласовывать.</p>
                                </div><!-- About Widget -->
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-6">
                            <div class="widget">
                                <h3 class="widget-title">Фонд</h3>
                                <ul>
                                    <li><a href="/" title="">Главная</a></li>
                                    <li><a href="/events" title="">События</a></li>
                                    <li><a href="/causes" title="">Цели</a></li>
                                    <li><a href="/reports" title="">Отчеты</a></li>
                                    <li><a href="/about" title="">О фонде</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="widget">
                                <h3 class="widget-title">Контакты</h3>
                                <ul>
                                    <li>Россия, Приморский край</li>
                                    <li>690069, г. Владивосток,<br>ул. Давыдова, д. 18</li>
                                    <li>kinderdom@mail.ru</li>
                                    <li>+7 (914) 703-01-21</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="widget">
                                <!-- <h3 class="widget&#45;title">Мы в instagram</h3> -->
                                <h3 class="widget-title">Реквизиты</h3>
                                        <ul>
                                            <li>Р/СЧ: 40703810800010000016</li>
                                            <li>К/СЧ: 30101810000000000867</li>
                                            <li>ИНН: 2539091280</li>
                                            <li>КПП: 253901001</li>
                                            <li>БИК: 040507867</li>
                                        </ul>
                                <!-- <div class="shelter&#45;gallery"> -->
                                <!--     <div class="row"> -->
                                <!--         <!&#45;&#45; <iframe src="https://averin.pro/widget.php?l=bf_mi_i_deti&#38;#38;style=1&#38;#38;width=250&#38;#38;gallery=1&#38;#38;s=80&#38;#38;icc=3&#38;#38;icr=2&#38;#38;t=0&#38;#38;tt=Мы в Инстаграм&#38;#38;h=0&#38;#38;ttcolor=FFFFFF&#38;#38;th=c3c3c3&#38;#38;bw=2e2e2e&#38;#38;bscolor=FFFFFF&#38;#38;bs=FF0000&#38;#38;ts=Подписаться&#38;#38;ch=utf8" allowtransparency="true" frameborder="0" scrolling="no" style="border:none;overflow:hidden;width:250px;height:165px;" ></iframe> &#45;&#45;> -->
                                <!--         <!&#45;&#45; <div class="col&#38;#45;4"><a href="#" title=""><img src="http://placehold.it/90x90" alt=""></a></div> &#45;&#45;> -->
                                <!--         <!&#45;&#45; <div class="col&#38;#45;4"><a href="#" title=""><img src="http://placehold.it/90x90" alt=""></a></div> &#45;&#45;> -->
                                <!--         <!&#45;&#45; <div class="col&#38;#45;4"><a href="#" title=""><img src="http://placehold.it/90x90" alt=""></a></div> &#45;&#45;> -->
                                <!--         <!&#45;&#45; <div class="col&#38;#45;4"><a href="#" title=""><img src="http://placehold.it/90x90" alt=""></a></div> &#45;&#45;> -->
                                <!--         <!&#45;&#45; <div class="col&#38;#45;4"><a href="#" title=""><img src="http://placehold.it/90x90" alt=""></a></div> &#45;&#45;> -->
                                <!--         <!&#45;&#45; <div class="col&#38;#45;4"><a href="#" title=""><img src="http://placehold.it/90x90" alt=""></a></div> &#45;&#45;> -->
                                <!--     </div> -->
                                <!-- </div> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>

        <div class="popup">
            <div class="popup-box">
                <div class="popup-title">
                    <h3>Я хочу помочь</h3>
                    <a class="close-popup" href="#" title=""><i class="ion-close-round"></i></a>
                </div><!-- Popup Title -->
                <div class="popup-content">
                    <p>Каждое пожертвование даёт шанс еще одному ребенку-сироте обрести семью. Меняйте мир вместе с нами!</p>
                    <!-- <div class="select&#45;cause"> -->
                    <!--     <label>Select Cause</label> -->
                    <!--     <select class="select"> -->
                    <!--         <option>Cause 1</option> -->
                    <!--         <option>Cause 2</option> -->
                    <!--         <option>Cause 3</option> -->
                    <!--         <option>Cause 4</option> -->
                    <!--     </select> -->
                    <!-- </div> -->

                    <!-- <div class="shelter&#45;skills"> -->
                    <!--     <div class="skillbar"> -->
                    <!--         <span>$350 of $1,000 raised </span> -->
                    <!--         <div class="progress"> <div class="progress&#45;bar" style="width: 85%;"><span>85%</span></div> </div> -->
                    <!--     </div> -->
                    <!-- </div> -->

                    <div class="your-donation">
                        <strong>Сумма в рублях</strong>
                        <ul class="donation-figures">
                            <li><a class="wpdonation-button" href="#" title="">300</a></li>
                            <li><a class="wpdonation-button" href="#" title="">500</a></li>
                            <li><a class="wpdonation-button" href="#" title="">1000</a></li>
                            <li><a class="wpdonation-button" href="#" title="">3000</a></li>
                            <li><a class="wpdonation-button" href="#" title="">5000</a></li>
                            <li><a href="#" title="">Другая сумма</a></li>
                        </ul>
                        <div class="donation-amount">
                            <textarea placeholder="Введите сумму">1000</textarea>
                        </div>
                    </div>

                    <form id="donation_form" method="POST" action="/payment">
                        <input type="hidden" id="donation_amount" name="amount" value="0" />
                        <input type="hidden" id="donation_description" name="description" value="Я хочу помочь" />
                        <!-- <input type="text" placeholder="Ваше имя" name="name" /> -->
                    </form>
                </div><!-- Popup Content -->
                <div class="popup-footer">
                    <a class="btn" href="#" title="">Продолжить</a>
                </div><!-- Popup Footer -->
            </div>
        </div><!-- Popup -->

        <script src="/static/js/jquery.min.js"></script>
        <script src="/static/js/slick.min.js"></script>
        <!-- <script src="/static/js/downcount.js"></script> -->
        <!-- <script src="/static/js/simpleLightbox.min.js"></script> -->
        <script src="/static/js/script.js"></script>
    </body>
</html>
