{% extends "admin/base" %}

{% block content %}
<h4>{{ name }} details</h4>
<h4>{{ id }}</h4>

<form action="/admin/profiles/{{ id }}" method="post">
    <input type="hidden" name="_method" value="delete" />
    <button class="link" type="submit" onclick="return confirm('Вы уверены, что хотите удалить элемент?');">Удалить</button>
</form>

{% endblock content %}
