.no-top {
    padding-top: 0px;
}
.lang {
    width: 40px;
    margin-top: -5px;
    float:right;
}
.lang_mobi {
    width: 70px;
}
.color_white {
    color: #f3f3f3;
}
.lang_txt {
    color: #f3f3f3;
    float:right;
}
