{% extends "admin/layout" %}

{% block content %}
<div class="container">
    <a class="btn btn-outline-info" href="/admin/articles/add">Добавить новость</a>
    <br>
    <br>
    <table class="table table-bordered table-hover">
        <tbody>
            <tr>
                <td>Title</td>
                <td>Edit</td>
                <td>Delete</td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock content %}
